/Lista-02/exercicio-06/EX_06/Debug
/Lista-02/exercicio-07/EX_07/Debug
/Lista-02/exercicio-08/EX_08/Debug
/Lista-02/exercicio-09/List2_ex9/Debug
/Lista-02/exercicio-10/List2_ex10/Debug
/Lista-02/exercicio-11/List2_ex11/Debug
/Lista-02/exercicio-12/EX_12/Debug
/Lista-02/treino/little_villas/Debug
/Lista-03/exercicio-03-04/little_villas/Debug
/Lista-03/exercicio-06/EX06_LISTA03/Debug
/Lista-03/exercicio-07/Debug
/Lista-04/exercicio-02/ex02-lista02/Debug
/Lista-04/exercicio-03/ex03-lista03/Debug
/Lista-04/exercicio-04/exemplo01/Debug
/Lista-04/exercicio-09/ex09-lista04/Debug
/Lista-05/exercicio-01/List5-ex01/Debug
/Lista-05/exercicio-02/Debug
/Lista-05/exercicio-03/exercicio_03/Debug
/Lista-05/exercicio-04/Debug
/Lista-05/exercicio-05/exercicioo-05/Debug
/Hackaton/teste-proteus/Debug
